
@{
	ViewBag.Title = "Test3";
}

<h2>Test3</h2>

<main aria-labelledby="title">
	<h2 id="title">@ViewBag.Message</h2>
	<h3 style="color: green">Unit Test Test-3 is passing successfully.</h3>
</main>

